//Buttons

.btn {
	@include button-colors($ui-colors);
}

[class^="btn--"] {
    @extend %center-align;
    @extend %btn;
    font-size: 16px;
	
    margin-bottom	: em(12px); 
    
    @include mq('mobile') {
        display: block;
  	    width: 100%;
    }
    @include mq('desktop') {
        width: auto;
        @include doubly(20px);
    }
}
